/* Primary Colors */
:root {
  --primary-dark: #191c24;
  --primary-blue: #00c7fd;
  --primary-darker-blue: #0071c5;
}

/* Secondary Colors */
:root {
  --secondary-white: #ffffff;
  --secondary-green: #198754;
  --secondary-light-blue: #0dcaf0;
  --secondary-red: #ab2e3c;
  --secondary-yellow: #ffc107;
}

body {
  font-family: 'Roboto', 'Open Sans', 'Lato', Arial, sans-serif;
}

header,
footer {
  background-color: var(--primary-dark);
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

/* User section */
.user-item {
  background-color: #00c7fd;
  /* Primary color */
  color: #fff;
  font-weight: 400;
  font-size: small;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.user-item:hover {
  background-color: #0071c5;
  /* Darker shade on hover */
}

/* Log entry */
.log-entry {
  background-color: #f9f9f9;
  word-wrap: break-word;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.timestamp {
  font-size: 0.9em;
  color: #888;
  text-align: left;
}

/* Tags */
.tags-container {
  margin-top: 10px;
}

.tag {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  /* Primary color */
  color: #fff;
  border-radius: 8px;
  margin-right: 10px;
}

.tag:hover {
  background-color: #0056b3;
  /* Darker shade on hover */
}

/* Users section */
.user-section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-section h2 {
  color: #0071c5;
  /* Primary color */
  font-weight: 600;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

/* Main content */
.main-content {
  padding: 20px;
}

/* Footer */
footer {
  background-color: #0071c5;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Button styles */
.btn {
  background-color: #00c7fd;
  /* Primary color */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0071c5;
  /* Darker shade on hover */
}
