/* Log entry */
.log-entry {
  background-color: var(--primary-dark);
  word-wrap: break-word;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.timestamp {
  font-size: 0.9em;
  color: #999;
  text-align: left;
}

.row div div p.timestamp {
  color: var(--light);
}

.btn {
  padding-right: 15px;
}




/* should be removed after testing*/
/* General styling for screenshots */
.screenshots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* Adjust the gap value as needed */
  justify-content: space-around;
}

.screenshot-item {
  width: calc(33.33% - 10px);
  /* Adjust percentage for the number of columns */
  margin-bottom: 15px;
  /* Space between rows */
}

.screenshot-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Modal styling */
.modal-body {
  position: relative;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.nav-btn-left {
  left: 10px;
}

.nav-btn-right {
  right: 10px;
}

.nav-btn-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  z-index: 1100;
}

#overlayImage {
  max-width: 90%;
  max-height: 90vh;
  width: auto;
  height: auto;
  margin: auto;
}

/* Navigation dots styling */
.nav-dots {
  display: flex;
  gap: 10px;
}

.nav-dots .dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.nav-dots .dot.active {
  background-color: #007bff;
}
